.pages {
    text-align: center;
}

.dividing_line {
    filter: alpha(opacity=100, finishopacity=0, style=3);
    width: 80%;
    size: 3px;
}

/*此处基于 Gemini 进行样式修改*/
.lists {
    /* 使用 flex 布局让子元素（ul）在容器内水平居中 */
    display: flex;
    justify-content: center;
    width: 100%;
}

.lists ul {
    /* 关键：让 ul 的宽度根据最长的列表项自动收缩，而不是撑满全屏 */
    width: fit-content;
    
    /* 确保内部文字左对齐 */
    text-align: left;
    
    /* 调整 padding-left 可以控制圆点距离文字的远近 (默认通常是 40px) */
    padding-left: 1.5em; 
}
